
body{
	margin: 0;
	padding: 0;
	background-color:red;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	font-weight: 400;
}
.navbar-brand{
	font-family: 'Satisfy';
}
.img{
	width: 500px;
	height: 500px;
}
.div{
	width: 600px;
	height: 100px;
	background-color: gray;
}








